.vs/VulkanPlant/copilot-chat/2f40fe5e/sessions/67402f9f-df31-4e13-ace5-ebe26ca1c451
.vs/mve/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/mve/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
.vs/mve/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
.vs/mve/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
.vs/mve/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/mve/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
.vs/mve/FileContentIndex/5ab59b1c-ab16-4434-8908-ac3e8210e67f.vsidx
.vs/mve/FileContentIndex/9dcc5ceb-3af6-4f93-8b39-e0629f2b2591.vsidx
/mve
/.vs
